includes:
	- vendor/phpstan/phpstan/conf/config.levelmax.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	tmpDir: %currentWorkingDirectory%/.phpstan
