parameters:
	ignoreErrors:
		-
			message: "#^Method Ergebnis\\\\Test\\\\Util\\\\Test\\\\Unit\\\\HelperTest\\:\\:faker\\(\\) is protected, but since the containing class is final, it can be private\\.$#"
			count: 1
			path: test/Unit/HelperTest.php

